 <!--CARROSEL-->
 <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="assets/banner1.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="assets/banner2.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="assets/banner3.png" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<!--CARROSEL-->



<h3 class="text-dark mt-3 text-center fs  p-2">Lojas parceiras que confiam no nosso trabalho</h3>
<div class="container-fluid bg-dark mt-0 d-flex justify-content-center  ">

    <img src="assets/Chevrolet.png" width="150px" height="150px"
        class="rounded-circle p-2 m-2 img-fluid img-thumbnail float-left  " alt="...">

    <img src="assets/toyota.webp" width="150px" height="150px"
        class="rounded-circle p-2 m-2 img-fluid img-thumbnail float-right " alt="...">

    <img src="assets/hyundai.webp" width="150px" height="150px"
        class="rounded-circle p-2 m-2 img-fluid img-thumbnail float-right" alt="...">

    <img src="assets/Nissan.png" width="150px" height="150px"
        class="rounded-circle p-2 m-2 img-fluid img-thumbnail float-right " alt="...">

    <img src="assets/gwm-lojaoficial.png" width="150px" height="150px"
        class="rounded-circle p-2 m-2 img-fluid img-thumbnail float-right " alt="...">


</div>

<h3 class="text-dark mt-3 text-center fs p-2">Recomendados para você</h3>
<!--CARDS DE VENDAS DE CARRO-->

<!-- Section-->
<section class="py-1">

    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

            <!--CARD 1-->
            <div class="col mb-5">
                <div class="card h-100 ">

                    <!-- Product image-->
                    <img class="card-img-top" src="assets/card0000.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">CHEVROLET CORVETTE</h5>
                            <p class="text-start fs-card">5.7 TARGA V8 GASOLINA 2P AUTOMÁTICO</p>
                            <!-- Product price-->
                            <p class="fw-bold"> R$ 199.999</p>
                            <div class="card">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item fs-card">Ano: 1986/1986</li>
                                    <li class="list-group-item fs-card">KM: 160.000</li>
                                    <li class="list-group-item fs-card">Cidade: Pouso Redondo - SC
                                    </li>
                                </ul>
                            </div>
                            
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Ver Parcelas</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--CARD 1-->

            <!--CARD 2-->
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Sale badge-->
                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale
                    </div>
                    <!-- Product image-->
                    <img class="card-img-top" src="assets/card2.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">CHEVROLET D20</h5>
                            <p class="text-start fs-card">4.0 CONQUEST CS 8V DIESEL 2P MANUAL</p>
                            <!-- Product price-->
                            <span class="text-muted text-decoration-line-through">R$ 169.900</span>
                            <p class="fw-bold"> R$ 130.000</p>
                            <div class="card">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item fs-card">Ano: 1996/1996</li>
                                    <li class="list-group-item fs-card">KM: 282.000</li>
                                    <li class="list-group-item fs-card">Cidade: Ribeirão Preto - SP
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Ver Parcelas</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--CARD 2-->


            <!--CARD 3-->
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Sale badge-->
                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale
                    </div>
                    <!-- Product image-->
                    <img class="card-img-top" src="assets/card3.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">DODGE CHARGER</h5>
                            <p class="text-start fs-card">5.2 R/T V8 GASOLINA 2P MANUAL</p>
                            <!-- Product price-->
                            <span class="text-muted text-decoration-line-through">R$ 480.000</span>
                            <p class="fw-bold"> R$ 300.000</p>
                            <div class="card">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item fs-card">Ano: 1975/1975</li>
                                    <li class="list-group-item fs-card">KM: 36.086</li>
                                    <li class="list-group-item fs-card">Cidade: Uberlândia - MG
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Ver Parcelas</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--CARD 3-->


            <!--CARD 4-->
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="assets/card4.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">VOLKSWAGEN FUSCA</h5>
                            <p class="text-start fs-card">1.6 8V GASOLINA 2P MANUAL</p>
                            <!-- Product price-->
                            <p class="fw-bold"> R$ 25.990</p>
                            <div class="card">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item fs-card">Ano: 1985/1985</li>
                                    <li class="list-group-item fs-card">KM: 165.783</li>
                                    <li class="list-group-item fs-card">Cidade: Mauá - SP</li>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Ver Parcelas</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--CARD 4-->



            <!--CARD 5-->
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Sale badge-->
                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale
                    </div>
                    <!-- Product image-->
                    <img class="card-img-top" src="assets/card5.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">CHEVROLET VECTRA</h5>
                            <p class="text-start fs-card">2.2 MPFI GLS 8V GASOLINA 4P MANUAL</p>
                            <!-- Product price-->
                            <span class="text-muted text-decoration-line-through">R$ 49.900</span>
                            <p class="fw-bold"> R$ 25.990</p>
                            <div class="card">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item fs-card">Ano: 1999/1999</li>
                                    <li class="list-group-item fs-card">KM: 101.000</li>
                                    <li class="list-group-item fs-card">Cidade: Teresina - PI</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Ver Parcelas</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--CARD 5-->

            <!--CARD 6-->
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="assets/card6.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">FORD F-75</h5>
                            <p class="text-start fs-card">2.3 4X4 PICK-UP MANUAL</p>
                            <!-- Product price-->
                            <p class="fw-bold"> R$ 65.000</p>
                            <div class="card">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item fs-card">Ano: 1979/1979</li>
                                    <li class="list-group-item fs-card">KM: 280.000</li>
                                    <li class="list-group-item fs-card">Cidade: Atibaia - SP</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Ver Parcelas</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--CARD 6-->

            <!--CARD 7-->
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Sale badge-->
                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale
                    </div>
                    <!-- Product image-->
                    <img class="card-img-top" src="assets/card7.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">TOYOTA BANDEIRANTE</h5>
                            <p class="text-start fs-card">4.0 OJ55LP-BL 4X4 CS DIESEL 2P MANUAL</p>
                            <!-- Product price-->
                            <span class="text-muted text-decoration-line-through">R$ 114.990</span>
                            <p class="fw-bold"> R$ 90.000</p>
                            <div class="card">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item fs-card">Ano: 1975/1975</li>
                                    <li class="list-group-item fs-card">KM: 51.762</li>
                                    <li class="list-group-item fs-card">Cidade: Araçatuba - SP</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Ver Parcelas</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--CARD 7-->


            <!--CARD 8-->
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="assets/card8.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">ALFA ROMEO 1750</h5>
                            <p class="text-start fs-card">1.8 SPIDER VELOCE 8V GASOLINA 2P MANUAL</p>
                            <!-- Product price-->
                            <p class="fw-bold"> R$ 230.000</p>
                            <div class="card">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item fs-card">Ano: 1971/1971</li>
                                    <li class="list-group-item fs-card">KM: 40.500</li>
                                    <li class="list-group-item fs-card">Cidade: São José - SC</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Ver Parcelas</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--CARD 8-->


            <!--CARD 9-->
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="assets/card9.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">VOLKSWAGEN VARIANT</h5>
                            <p class="text-start fs-card">1.6 8V GASOLINA 2P MANUAL</p>
                            <!-- Product price-->
                            <p class="fw-bold"> R$ 69.900</p>
                            <div class="card">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item fs-card">Ano: 1973/1973</li>
                                    <li class="list-group-item fs-card">KM: 45.000</li>
                                    <li class="list-group-item fs-card">Cidade: Londrina - PR</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Ver Parcelas</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--CARD 9-->


            <!--CARD 10-->
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="assets/card10.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">FERRARI TESTAROSSA</h5>
                            <p class="text-start fs-card">4.9 V12 GASOLINA 2P MANUAL</p>
                            <!-- Product price-->
                            <p class="fw-bold"> R$ 1.990.000</p>
                            <div class="card">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item fs-card">Ano: 1989/1989</li>
                                    <li class="list-group-item fs-card">KM: 20.000</li>
                                    <li class="list-group-item fs-card">Cidade: São Paulo - SP</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Ver Parcelas</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--CARD 10-->


            <!--CARD 11-->
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="assets/card11.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">VOLKSWAGEN KOMBI</h5>
                            <p class="text-start fs-card">1.6 MI PICK-UP CS 8V GASOLINA 2P MANUAL</p>
                            <!-- Product price-->
                            <p class="fw-bold"> R$ 48.000</p>
                            <div class="card">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item fs-card">Ano: 1998/1998</li>
                                    <li class="list-group-item fs-card">KM: 80.000</li>
                                    <li class="list-group-item fs-card">Cidade: Santo André - SP</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Ver Parcelas</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--CARD 11-->

            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="assets/card1.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">PORSCHE 911</h5>
                            <p class="text-start fs-card">3.6 CARRERA COUPÉ 6 CILINDROS 24V GASOLINA 2P MANUAL</p>
                            <!-- Product price-->
                            <p class="fw-bold"> R$ 1.390.000</p>
                            <div class="card">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item fs-card">Ano: 1991/1992</li>
                                    <li class="list-group-item fs-card">KM: 44.761</li>
                                    <li class="list-group-item fs-card">Combustível: Gasolina</li>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Ver Parcelas</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!--CARDS DE VENDAS DE CARRO-->


<h3 class="text-center text-dark mt-3 p-2 fs">
    Carros clássicos esportivos mais desejados
</h3>
<!--CARDS carros esportivos-->
<!--CARRO 1-->
<div class="container-fluid d-flex justify-content-center ">
    <div class="card mt-2 " style="width: 18rem;">
        <img src="assets/esportivo1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title"> Ferrari 250 GTO</h5>
            <p class="card-text ">O primeiro da lista é a Ferrari 250 GTO, um dos modelos mais famosos da montadora.
            </p>

            <p class="card-text">A sigla “GTO” é do italiano “Gran Turismo Omologata” que significa que todas as
                Ferrari 250 GTO
                produzidas eram para pistas, mas também podiam rodar em vias públicas.</p>
            <a href="https://pt.wikipedia.org/wiki/Ferrari_250_GTO" target="_blank"
                class="btn btn-primary">História</a>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Ano: 1962-1964</li>
            <li class="list-group-item">Preço: R$255 milhões reais</li>
        </ul>
    </div>
    <!--CARRO 1-->

    <!--CARRO 2-->
    <div class="card m-2" style="width: 18rem;">
        <img src="assets/esportivo2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title"> Lamborghini Miura </h5>
            <p class="card-text ">O segundo clássico esportivo da lista é o Lamborghini Miura produzido pela marca
                italiana em três versões, P400, P400 S e P400 SV.
            </p>

            <p class="card-text">Todos com motor V12 central-traseiro e com potências semelhantes, 350 CV, 370 CV e
                385 CV,
                respectivamente. O P400 SV, por exemplo,chegava até a 300 km/h e acelerava de 0 a 100 km/h em 6,5
                segundos.</p>

            <p class="card-text"> O Miura foi considerado o primeiro supercarro da Lamborghini com motor de mais de
                300 CV e o mais
                veloz de sua época.</p>
            <a href="https://pt.wikipedia.org/wiki/Lamborghini_Miura" target="_blank"
                class="btn btn-primary">História</a>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Ano: 1967-1973</li>
            <li class="list-group-item">Preço: R$10 milhões reais</li>
        </ul>
    </div>
    <!--CARRO 2-->

    <!--CARRO 3-->
    <div class="card m-2" style="width: 18rem;">
        <img src="assets/esportivo3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title"> Mercedes 300 SL </h5>
            <p class="card-text ">O Mercedes 300 SL ou famoso “asa de gaivota”, por conta de sua aparência com as
                portas abertas, é o terceiro da nossa lista. Com a sua estrutura de chassi tubular do tipo space
                frame elevado nas laterais, ele não permitia as portas convencionais.
            </p>

            <p class="card-text">Ele é um ícone da montadora e foi o primeiro carro do mundo com motor de injeção de
                gasolina e sem carburador.</p>

            <p class="card-text">Por falar em motor, conta com um de 6 cilindros e 3 litros, câmbio manual com
                quatro marchas, potência de 220 CV e velocidade máxima de até 260 km/h.</p>
            <a href="https://pt.wikipedia.org/wiki/Mercedes-Benz_300_SL" target="_blank"
                class="btn btn-primary">História</a>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Ano: 1954-1963</li>
            <li class="list-group-item">Preço: R$725 milhões</li>
        </ul>
    </div>
    <!--CARRO 3-->

    <!--CARRO 4-->
    <div class="card m-2" style="width: 18rem;">
        <img src="assets/esportivo4.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title"> Porsche Speedster 356 </h5>
            <p class="card-text ">O quarto da nossa lista é o Porsche Speedster, considerado o primeiro produzido
                pela montadora que apesar de ser marcada pelo modelo 911, tem neste 356 um dos que fez história.
            </p>

            <p class="card-text">O Speedster 356 é um cupê de 2 portas, conversível ou não, com chassi feito para
                seu motor VW de 1086 cm cilindradas e com capacidade para gerar 40 CV. A velocidade máxima varia
                dependendo da versão, mas está entre 140 e 170 km/h.</p>

            <p class="card-text">A produção desse modelo parou em 1965, dois anos após a chegada do Porsche 911, um
                sucesso de vendas.</p>
            <a href="https://pt.wikipedia.org/wiki/Porsche_356" target="_blank" class="btn btn-primary">História</a>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Ano: 1948-1965</li>
            <li class="list-group-item">Preço: R$220 mil</li>
        </ul>
    </div>
    <!--CARRO 4-->


    <!--CARRO 5-->
    <div class="card m-2" style="width: 18rem;">
        <img src="assets/esportivo5.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Jaguar E-type</h5>
            <p class="card-text ">O último da lista é o Jaguar E-type, considerado um dos mais bonitos de todos os
                tempos e que foi apresentado no Salão de Genebra de 1961.
            </p>

            <p class="card-text">Disponível nas versões cupê e roadster, o E-type se destacou por seu o primeiro
                modelo produzido em série que utilizou conceitos avançados de aerodinâmica e teve os ensaios em um
                túnel de vento.</p>

            <p class="card-text">Em sua estreia, o modelo veio com motor 3.8 de seis cilindros em linha, duplo
                comando de válvulas, três carburadores, 265 CV de potência e 35,9 mkgf de torque. Toda essa força
                foi comprovada quando carro passou a marca de 240 km de velocidade máxima.</p>
            <a href="https://pt.wikipedia.org/wiki/Jaguar_E-Type" target="_blank"
                class="btn btn-primary">História</a>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Ano: 1961-1974</li>
            <li class="list-group-item">Preço: R$2 milhões</li>
        </ul>
    </div>
    <!--CARRO 5-->
</div>
<!--CARDS-->
