 <!--RODAPÉ-->
 <footer class="page-footer font-small bg-dark pt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-white">Siga-nos nas redes sociais</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">


                <ul class="social-network">
                    <li>
                        <a href="">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                    </li>

                    <li>
                        <a href="">
                            <i class="fa-brands fa-linkedin"></i>
                        </a>
                    </li>

                    <li>
                        <a href="">
                            <i class="fa-brands fa-facebook"></i>
                        </a>
                    </li>
                </ul>
            

            </div>
        </div>

    </div>

    <div class="footer-copyright bg-secondary text-center py-3 ">
        <span class="text-light">  © 2023 Copyright: Vinicius and Rian </span>
    </div>
    

</footer>
<!--RODAPÉ-->
