 <!--MENU-->
 <nav class="navbar navbar-expand-lg bg-light">




    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto d-flex align-items-center">
            <li class="nav-item">
                <img src="../../assets/roda-de-carro.png" alt="imagem do logo" width="50px" height="50px"
                    class="img-fluid rounded-circle">
            </li>

            <li class="nav-item">
                <p class="m-0 font-weight-bold text-dark fonte text-uppercase text-nowrap ">old engines</p>
            </li>
        </ul>
    </div>



    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
            <li class="nav-item active">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Cadastro veiculo</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Curiosidades
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="https://www.youtube.com/watch?v=XMg9NnFOLt8" target="_blank" >Como era os carros 100 anos atrás?</a></li>
                    <li><a class="dropdown-item" href="https://blog.mmcofap.com.br/2021/10/27/carros-antigos-saiba-tudo-sobre-eles/" target="_blank">Saiba tudo sobre os carros antigos</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    
                </ul>
            </li>
        </ul>

    </div>

<!--

        <div class="nav-item me-4 mt-1 ">
        <ul>
            <li>oi</li>
        </ul>

    </div>


-->

<ul class="navbar-nav ml-auto d-flex align-items-center">
    <li class="nav-item p-3">
        <a class="m-0 font-weight-bold text-dark fonte ">SAIR <i class="fa-solid fa-right-from-bracket"></i></a>
    </li>
</ul>


</nav>
<!--MENU-->
